<div class="row">
    <h3 class="text-primary pt-4 pl-4">GrandChildComponent</h3>
    <br />
    <p>There is a message - @MessageForGrandChild</p>
</div>

@code {
    [CascadingParameter]
    public string MessageForGrandChild { get; set; } = string.Empty;
}
