<div class="alert alert-info text-center">
    <h1 class="text-light bg-dark p-3 m-3">@Title</h1>
    <div class="container border-2 bg-info row">
        <div class="col-6">
            @ChildContent
        </div>
        <div class="col-6">
            <h1 class="text-light bg-dark p-3 m-3">@MessageFromParrent</h1>
            <button class="btn btn-danger btn-lg" @onclick="BtnOnClick">Get Message</button>
            <button class="btn btn-danger btn-lg" @onclick="BtnOnClickClearMessage">Clear Message</button>
        </div>
    </div>
</div>

@code{
    [Parameter]
    public string MessageFromParrent { get; set; } = "";

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnBtnClickEvent { get; set; }

    private async Task BtnOnClick(MouseEventArgs e)
    {
        await OnBtnClickEvent.InvokeAsync(e);
    }

    private void BtnOnClickClearMessage()
    {
        MessageFromParrent = "";
    }
}